%div.nav-header
  %div.nav-header__header
    チャットグループが作成されました。

%div.left-box
  %div.user
    %div.user__name
      name
    %user__i.fa.fa-pencil-square-o
    %user__i.fa.fa-cog
  %div.list
    %div.list__group-name1
      sample
    %div.list__group-messages
      Good bye world.

%div.right-box
  %div.group
    %div.group__group-name2
      sampleグループ
    %div.group__members-name
      Members:
    %input{:type => "submit", :value => "Edit"}
  %div.contents
    %span.contents__members-name
      ryosukemaehira
    %span.contents__time1
      2016/10/02 06:27:07
    %div.contents__message
      なるほど
    %span.contents__members-name
      ryosukemaehira
    %span.contents__time2
      2016/10/02 06:27:14
    %div.contents__members-name
      ryosukemaehira
  %div.user-action
    %div.user-action__box
      %input{:type => "text", placeholder: "type a message"}
      %div.fa.fa-picture-o.user-action__box__image
      %input{:type => "submit", :value => "Send"}




