html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

$color: #FFFFFF;
$textcolor: #434A54;

.nav-header{
  background-color: #38A;
  text-align: center;
}

.left-box{
  float: left;
  height: 100%;
}

.user{
  background-color: #253141;
  width: 260px;
  padding: 0 20px;
  height: 110px;
  .user__name {
    font-size: 16px;
    font-style: bold;
    color: $color;
    float: left;
  }
  .fa {
    color: $color;
    font-size: 16px;
    float: right;
  }
}

.list{
  background-color: #2f3e51;
  width: 260px;
  height: 100%;
  padding: 0 20px;
  &__group-name1 {
    font-size: 15px;
    color: $color;
    padding-top: 20px;
  }
  &__group-messages {
    font-size: 11px;
    color: $color;
    padding-top: 5px;
  }
}

.right-box{
  width: calc(100vw - 300px);
  float: left;
  height: 100%;
}

.group{
  padding: 0 40px;
  height: 95px;
  &__group-name2{
    padding-top: 35px;
    font-size: 20px;
    color: #333333;
    width: 150px;
    float: left;
  }
  &__members-name{
    margin-top: 15px;
    font-size: 12px;
    color: #333333;
    width: 200px;
  }
  input{
    float: right;
    color: blue;
    height: 40px;
    width: 60px;
    border-color: blue;
    margin-top: 28px;
  }
}

.contents{
  background-color: #AAAAAA;
  border-top: #eeeeee;
  padding: 0 40px;
  &__members-name{
    font-size: 16px;
    font-style: bold;
    color: $textcolor;
    padding-top: 46px;
  }
  &__time1{
    font-size: 12px;
    color: #999999;
    padding-top: 46px;
    padding-left: 10px;
  }
  &__message{
    padding-top: 10px;
  }
}

.user-action{
  height: 90px;
  padding: 120px 40px;
  width: calc(100vw - 300px);
  &__box{
  background-color: #38A;
  width: calc(100vw - 380px);
    input[type="text"] {
      height: 50px;
      width: 910px;
      font-size: 16px;
      color: yellow;
      float: left;
    }
    input[type="submit"] {
      background-color: #38A;
      height: 50px;
    }
    input {
      width: 50px;
      font-size: 16px;
      float: left;
    }
    &__image {
      float: left;
    }
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

